[Unit]
Description=Restart sensorfwd when display wakes up, to hack sensors back to work
Requires=dbus.socket
After=mce.service

[Service]
Type=simple
ExecStart=/usr/bin/unblank-restart-sensors

[Install]
WantedBy=multi-user.target

